.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.delay-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.delay-input {
  margin: 0;
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 16px;
}

fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 360px;
  border-radius: 4px;
  border: 1px solid #808080;
}

legend {
  text-align: left;
}

.radiobtn-label {
  display: flex;
  align-items: center;
}

.radiobtn {
  border: 1px solid #757575;
  border-radius: 14px;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.snackbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  color: #fff;
  border: none;
}

.snackbar-button:hover {
  background: #6c8cff;
}
